/* @import "tailwindcss"; */

body {
    background-color: #f0f0f0;
    color: #0a0a0a;
    transition: background-color 0.5s, color 0.5s;
}
.dark-mode{
    color: #f0f0f0;
    background-color: #0a0a0a;
}